---
const { image, title } = Astro.props;
---

<section class="h-60 sm:h-96" style={`background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(${image}) center; background-size: cover; background-repeat: no-repeat;`}>
    <div class="container mx-auto px-10 md:px-20 py-10 md:py-20 flex items-center justify-center h-full">
        <h1 class="text-white text-2xl md:text-4xl font-bold text-center mb-8">{title}</h1>
    </div>
</section>
