---
import { getLangFromUrl } from "@/i18n/utils";
import BaseHead from "@/components/global/BaseHead.astro";
import type { Props as BaseHeadProps } from "@/components/global/BaseHead.astro";
import Header from "@/components/global/Header.astro";
import Footer from "@/components/global/Footer.astro";
import "aos/dist/aos.css";
export interface Props {
    seo?: BaseHeadProps;
}

const lang = getLangFromUrl(Astro.url);
const { seo } = Astro.props;
---

<html lang={lang}>
    <head>
        <BaseHead {...seo} language={lang} />
    </head>
    <body class="flex flex-col min-h-screen">
        <Header />
        <main class="flex-grow flex-shrink">
            <slot />
        </main>
        <Footer />
        <script>
            import "@/scripts/main.js";
        </script>
    </body>
</html>
