---
import TagP from "@components/global/TagP.astro";
import TagH3 from "../global/TagH3.astro";
const { i18n, lang } = Astro.props;
---

<div class="flex flex-wrap justify-evenly">
    <div>
        <TagH3>{lang === "en" ? "Single Pack" : "Paquete Individual"}</TagH3>
        <TagP>{i18n.SINGLE_PACK}</TagP>
    </div>
    <div>
        <TagH3>{lang === "en" ? "Shared Pack" : "Paquete Compartido"}</TagH3>
        <TagP>{i18n.SHARED_PACK}</TagP>
    </div>
</div>
