---
const { i18n } = Astro.props;
---
<div class="flex flex-wrap items-center justify-center w-full my-14">
    <div class="w-1/2">
        <a href="tel:+529983000040" class="mx-auto flex items-center relative w-fit bg-orange-600 hover:bg-orange-500 text-white text-base md:text-lg font-bold py-3 px-5 md:px-7 rounded-2xl shadow-lg">
            <i class="at-wifi-call mr-1"></i> 998 300 0040
            <span class="absolute -top-5 -right-5 bg-red-500 py-1 px-3 text-sm rounded-full shadow">{i18n.CALL_US}</span>
        </a>
    </div>
    <div class="w-1/2">
        <a href="https://api.whatsapp.com/send/?phone=529983000040" target="_blank" class="mx-auto flex items-center w-fit bg-green-500 hover:bg-green-400 text-white text-base md:text-lg font-bold py-3 px-5 md:px-7 rounded-2xl shadow-lg">
            <i class="at-whatsapp"></i> WhatsApp
        </a>
    </div>
</div>
