---
const { includes, notIncludes, i18n } = Astro.props;
---

<div class="flex flex-wrap text-justify mb-10">
    <div class={`w-full ${notIncludes ? 'md:w-1/2 md:pr-3' : 'md:pr-3'}`}>
        <h3 class="text-lg md:text-2xl font-bold text-orange-600 mt-10 mb-4">{i18n.INCLUDES}</h3>
        <ul class="space-y-4 text-base md:text-lg">
            {includes.map((item) => <li><i class="at-check-circle text-green-600"></i> {item}</li>)}
        </ul>
    </div>
    {notIncludes && (
        <div class="w-full md:w-1/2 md:pl-3">
            <h3 class="text-lg md:text-2xl font-bold text-orange-600 mt-10 mb-4">{i18n.NOT_INCLUDES}</h3>
            <ul class="space-y-4 text-base md:text-lg">
                {notIncludes.map((item) => <li><i class="at-x-circle text-red-600"></i> {item}</li>)}
            </ul>
        </div>
    )}
</div>
