---
import { Check, Close, } from "@/img/allIcons";
const { includes, notIncludes } = Astro.props;
---

<div class="text-justify">
    <ul class="space-y-4 text-sm/relaxed md:text-base/relaxed md:columns-2">
        {includes.map((item) => (
                <li class="inline-block w-full">
                    <Check class="text-green-700 mr-1 inline-block" /> {item}
                </li>
            ))
        }
        {notIncludes &&
                notIncludes.map((item) => (
                    <li class="inline-block w-full">
                        <Close class="text-red-600 mr-1 inline-block" /> {item}
                    </li>
                ))
        }
    </ul>
</div>
