---
const { shouldKnow, shouldBring, i18n } = Astro.props;
---

<div class="flex flex-wrap text-justify">
    <div class="w-full md:w-1/2 md:pr-3">
        <h3 class="text-lg md:text-2xl font-bold text-green-700 mt-10 mb-4">{i18n.SHOULD_KNOW}</h3>
        <ul class="space-y-4 text-base md:text-lg">
            {shouldKnow.map((item) => <li><i class="at-info-circle text-green-600"></i> {item}</li>)}
        </ul>
    </div>
    <div class="w-full md:w-1/2 md:pl-3">
        <h3 class="text-lg md:text-2xl font-bold text-green-700 mt-10 mb-4">{i18n.SHOULD_BRING}</h3>
        <ul class="space-y-4 text-base md:text-lg">
            {shouldBring.map((item) => <li><i class="at-plus-circle text-green-600"></i> {item}</li>)}
        </ul>
    </div>
</div>


