---
import { languages } from "@/i18n/ui";
import {useTranslatedPath, getLangFromUrl} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = languages[lang];
const otherLocales = Object.values(languages).filter(
    (locale) => locale.code !== lang,
);

// Se Elimina el prefijo del idioma de la ruta actual si existe
const currentPath = Astro.url.pathname.replace(new RegExp(`^/${lang}`), '');
---

<div class="relative inline-block text-lef order-0 xl:order-1">
    <div class="group text-black rounded-3xl text-xs font-semibold bg-white hover:bg-orange-500 hover:text-white transition-all shadow-sm border border-black/10">
        <button
            type="button"
            class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
            aria-expanded="true"
            aria-haspopup="true"
        >
            <i class="at-language-translation"></i>
            {currentLocaleData.code}
        </button>
        <ul class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden pt-0.5 absolute w-full">
            {
                otherLocales.map((locale) => (
                    <li class="py-[2px]">
                        <a class="rounded-3xl text-black bg-white hover:bg-orange-600 hover:text-white whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2 shadow-sm border border-black/10"
                            href={translatePath(currentPath, locale.code)}>
                            <i class="at-language-translation"></i> {locale.code}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>